.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--grey-light);
}

.card--green {
  background-color: rgb(36, 172, 36);
}

.card--red {
  background-color: rgb(228, 20, 20);
}

.card--yellow {
  background-color: rgb(246, 246, 74);
}

.card--peach {
  background-color: rgb(252, 176, 110);
}

.card--pink {
  background-color: rgb(190, 30, 57);
}
